/* Removendo a barra de rolagem padrão*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Estilização personalizada para a barra de rolagem */
/* Scrollbar discreta */
.scrollbar-hover::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hover::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.5);
}

.scrollbar-hover::-webkit-scrollbar-track {
  background: transparent;
}


/* SCROLL ANIMATION */

/* Removendo a barra de rolagem padrão*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Estilização personalizada para a barra de rolagem */
/* Scrollbar discreta */
.scrollbar-hover::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hover::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.scrollbar-hover:hover::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.5);
}

.scrollbar-hover::-webkit-scrollbar-track {
  background: transparent;
}


/* SCROLL ANIMATION com elementos de página inteira através do data-animate*/
/* BASE */
/*[data-animate] {
  opacity: 0;
  transform: translateY(40px) scale(0.96);
  filter: blur(6px);
  transition:
    opacity 0.8s ease,
    transform 0.8s cubic-bezier(0.16, 1, 0.3, 1),
    filter 0.8s ease;
}

/* QUANDO APARECE NA TELA */
/*
[data-animate].is-visible {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

/* VARIAÇÃO FUTURISTA 
[data-animate="futuristic"].is-visible {
  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.08),
    0 10px 40px rgba(0, 0, 0, 0.4),
    0 0 25px rgba(56, 189, 248, 0.15);
}

[data-animate="futuristic"]::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(120deg, transparent, rgba(56,189,248,0.15), transparent);
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

[data-animate="futuristic"]:hover::after {
  opacity: 1;
}
*/

/* VARIAÇÃO SIMPLES PARA ELEMENTOS DENTRO DA PÁGINA */
[data-animate] {
  opacity: 0;
  transform: translate3d(0, 24px, 0) scale(0.96);
  will-change: transform, opacity;
}

[data-animate-once] {
  opacity: 1 !important;
  transform: none !important;
  filter: none !important;
}


