


<section id="hobbies" class="px-8 py-20 bg-slate-800" data-animate="left">
        <div class="flex items-center gap-3 mb-6 relative left-[-4px]">
            <span
                class="w-8 h-8 rounded-lg bg-secondary/10 border border-secondary/30 flex items-center justify-center">
                <span class="font-mono text-secondary text-xs font-bold">&lt;/&gt;</span>
            </span>

            <p class="font-mono text-xs tracking-[0.25em] uppercase text-secondary mb-2"> / Me conheça Melhor</p>
        </div>

        <h3 class="font-syne text-4xl sm:text-5xl font-extrabold text-slate-100 leading-tight m-4">
            Meus<span class="text-secondary"> Hobbies</span>
        </h3>

        <p class="font-mono text-sm text-slate-500 mb-12 animate-fadeUp [animation-delay:120ms]" data-animate="up">
            Confira alguns dos meus hobbies, interesses.
        </p>
        <ul class="list-disc list-inside text-slate-300 space-y-2 max-w-xl animate-fadeUp [animation-delay:160ms]"
            data-animate="up">
            <li>Estudar novas tecnologias</li>
            <li>Praticar desenvolvimento de interfaces</li>
            <li>Desenvolver projetos pessoais</li>
            <li>Ouvir e estudar música</li>
            <li>Aprender inglês</li>
        </ul>
    </section>